.heroe-overview-container {
    display: inline-block;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background: #006600;
}

.heroe-overview-text {
    overflow: hidden;
    display: -webkit-box;
     /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    margin-right: 10em;
    margin-left: 10em;
}